@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');



html,body{
    height:100%;
    width:100%;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    }

    .button{
        padding:20px;
        margin:0 3px;
        border:2px solid black;
        border-radius:9px ;
        cursor:pointer;
        width:66px;
        box-shadow:2px 2px 2px rgb(69, 23, 40);
        font-size:15px;
    }

    .row{
        margin:8px 0;
    }
    .row input{
        width: 293px;
        font-size:20px;
        margin:0;
        padding:10px 0px;
        border:2px solid black;
        border-radius:5px;
        box-shadow:2px 2px 2px rgb(90, 60, 71)
    }